@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;700&family=Quicksand:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary: #F4CE14;
    --secondary-dark: #495E57;
    --secondary-light: #ABC8C0;
    --ternary: #854D27;
    --accent: #93032E;
}

body {
    font-family: 'Merriweather', Georgia, serif;
    margin-left: 20%;
    margin-right: 20%;
    background-color: beige
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', 'Palatino Linotype', serif;
}

.cursive {
    font-family: 'Dancing Script', cursive;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 15rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.5rem 1rem;
    background: var(--secondary-dark);
    color: white;
    border-radius: 3px;
}

nav li {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
}

nav li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    bottom: -2px;
    transition: width 0.3s, left 0.3s;
}

nav li:hover::after {
    width: 100%;
    left: 0;
}

nav a, .promotion-banner a{
    color: white;
    text-decoration: none;
}

main section {
    margin-bottom: 1rem;
}

.promotion-banner,
.small-banners {
    font-family: 'Alegreya', serif;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background: var(--secondary-light);
    border-radius: 3px;
}

.promotion-banner{
    background-image: url('Assets/Banners/LargeBanner.webp');
    background-size:cover;
    justify-content: center;
    min-height: 10rem;}

.promotion-banner h1{
    font-size: 3rem;
    color: var(--ternary);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 3px;
    border-style: double;
    transition: transform 0.3s ease, background-color 0.3s; 
}

.promotion-banner h1:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.05);
}

.small-banners{
    justify-content: space-evenly;
}
.small-banners article{
    align-self: flex-start;
}

.small-banners article p{
    text-align: justify;
}

.small-banners article img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 3px;
}

#chefs {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


#chefs img {
    width: 98%;
    max-width: 750px;
    height: auto;
    padding: 1%;
    background: var(--primary);
    border-radius: 3px;
    border-radius: 3px;
}

.location h2{
    color: var(--accent);
}

em{
    font-style: normal;
    font-weight: bold;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lora', serif;
}

footer img {
    max-height: 3rem;
}