@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;700&family=Quicksand:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary: #F4CE14;
    --secondary-dark: #495E57;
    --secondary-light: #ABC8C0;
    --ternary: #854D27;
    --accent: #93032E;
}

body {
    font-family: 'Merriweather', Georgia, serif;
    margin-left: 5%;
    margin-right: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', 'Palatino Linotype', serif;
}

.cursive {
    font-family: 'Dancing Script', cursive;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 15rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0.5rem 1rem;
    background: var(--secondary-dark);
    color: white    ;
    border-radius: 10px;
}

nav li {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;
}

nav li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondary-dark);
    left: 50%;
    bottom: -2px;
    transition: width 0.3s, left 0.3s;
}

nav li:hover::after {
    width: 100%;
    left: 0;
}

main section {
    margin-bottom: 1rem;
}

.large-banner,
.small-banners-3 {
    font-family: 'Alegreya', serif;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background: var(--secondary-light);
    border-radius: 10px;
}

.large-banner{
    background-image: url('Assets/Banners/LargeBanner.webp');
    background-size:cover;
    justify-content: center;
    min-height: 10rem;}

.large-banner h1{
    font-size: 3rem;
    color: var(--ternary);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 10px;
}
.small-banners-3{
    justify-content: space-evenly;
}
.small-banners-3 p{
    text-align: justify;
}

.small-banners-3 article img {
    width: 100%;
    /* Make sure the images fill their container's width */
    height: 200px;
    /* Set a fixed height to crop the images */
    object-fit: cover;
    /* Crop the images to cover the entire area */
    border-radius: 10px;
    /* Optional: to add some styling to match your design */
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lora', serif;
}

footer img {
    max-height: 3rem;
}